{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/codemirror.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/welcome.css') }}">
<title>{% block title %}Welcome{% endblock %}  </title>

{% endblock %}

{% block content %}
<div class="container">
    <form class="row">
    <br/><br/>
    <div class="form-group">
    <div class="col-lg-10">
      <label for="Code">Please enter your code:</label>
      <textarea class="form-control" rows="20" id="code" name="code"></textarea>
    </div>
    </div>
    <div class="col-lg-6 row-lg-offset-2 custom">
    <button type="button" class="btn btn-default">Submit</button>
    </div>
    </form>
    <div class="custom" id="server_output"> </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/codemirror.js"></script>
<script>
  editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    mode:{name: "python",
          version: 3},
    lineNumbers: true,
    indentUnit: 4,
    indentWithTabs:true,
    matchBrackets: true,
    autoRefresh: true,
  });
  console.log(editor)
</script>
{% endblock %}